.projetosbg {
    background-image: url('/public/assets/PapelParedePixelArt4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slick-dots li button:before {
    font-size: 12px !important;
    opacity: 0.5 !important;
}
  
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 22px !important;
    opacity: 0.90 !important;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.25 !important;
}

.titulo {
    color: white;
}

.card-style {
    background-color: rgba(40, 44, 52, 0.7);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 1rem;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }
  